#nav-space li{
     margin-right: 50px;
}

.elearn{
    background-color: #289BDE;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    white-space: nowrap;
}
.elearn:hover{
    background-color: #0087d5;
}
.elearn-rev{
    background-color: #fff;
    color:  #289BDE;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

h1{
    font-size: 65px;
}